<div class="parallax-container valign-wrapper">
    <div class="parallax">
        <img src="img/background3.jpg">
    </div>
    <div class="row">
        <h1 class="header center-align white-text">Hope for Hopeless</h1>
    </div>
</div>
<div id="newsletter-div" class="section white">
    <div class="container">
        <form id="newsletter-form" action="/subscribe" method="post">
            <ul id="newsletter-scrollfire" class="scrollfire">
                <li>
                    <h2 class="row center header">Stay Connected</h2>
                </li>
                <li>
                    <div class="row">
                        <div class="center">
                            Subscribe to get email updates!
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-m-b-0">
                        <div class="col s12 m6 l4 offset-m3 offset-l4">
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="newsletter-name" class="validate" type="text" required aria-required="true">
                                <label for="newsletter-name" data-error="Invalid">Name</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-m-b-0">
                        <div class="col s12 m6 l4 offset-m3 offset-l4">
                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                <input id="newsletter-email" class="validate" type="email" required aria-required="true">
                                <label for="newsletter-email" data-error="Invalid">Email</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s12 m6 l4 offset-m3 offset-l4">
                            <button id="newsletter-button" class="btn waves-effect waves-light col s12" type="submit" name="action">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="newsletter-confirmation" class="scrollfire hide">
                <li>
                    <div class="row">
                        <div class="col s12 m6 l4 offset-m3 offset-l4">
                            <div class="center">You are now subscribed!</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s12 m6 l4 offset-m3 offset-l4">
                            <div class="center">(This feature is currently disabled)</div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <br />
    </div>
</div>
<footer class="page-footer">
    <div>
        <div class="container">
            <div class="row-m-b-0 center">
                <h5 class="header">Myanmar Baptist Burmese Church</h5>
            </div>
            <div class="row center">
                Hope for Hopeless
            </div>
            <div class="row center">
                <a class="btn-floating btn-large waves-effect waves-light facebook-blue" href="https://www.facebook.com/Burmese-Christian-Family-Church-of-Bay-Area-Daly-City-California-134098036720174/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="btn-floating btn-large waves-effect waves-light youtube-red" href="https://www.youtube.com/channel/UC9rAWXoNOJnlHWXY6XOGOyg" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
            <div class="row center">
                <a href="#header" style="display: inline-block">
                    <div>
                        <i class="material-icons" title="Back to the top">keyboard_arrow_up</i>
                    </div>
                    <div>
                        Scroll to Top
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="center">
                Copyright &copy; 2018 MBFC | All Rights Reserved
            </div>
        </div>
    </div>
</footer>
