<div class="section white">
    <nav class="row container">
        <div class="nav-wrapper">
            <!-- Desktop -->
            <a href="/" class="brand-logo hide-on-med-and-down"><img src="img/church-logo-full7.jpg" width="425" /></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" class="dropdown-button menu" data-activates="about-dropdown">About<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/contact" class="menu">Events</a></li>
                <li><a href="/contact" class="menu">Media</a></li>
                <!-- <li><a href="#" class="menu">Give</a></li> -->
            </ul>
            <ul id="about-dropdown" class="dropdown-content">
                <!-- <li><a href="#" class="menu-item">Pastor</a></li> -->
                <!-- <li><a href="#" class="menu-item">Beliefs</a></li> -->
                <!-- <li><a href="#" class="menu-item">Members</a></li> -->
                <li class="menu-item-contact"><a href="/contact" class="menu-item">Contact</a></li>
            </ul>

            <!-- Mobile -->
            <a href="/" class="brand-logo hide-on-large-only"><img src="img/church-logo-full5.jpg" width="64"/></a>
            <a href="#" class="button-collapse" data-activates="slide-out"><i class="material-icons">menu</i></a>
            <ul id="slide-out" class="side-nav">
                <li class="logo">
                    <a href="/" class="brand-logo"><img src="img/church-logo-full5.jpg" width="64"/></a>
                </li>
                <li class="divider"></li>
                <li>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <a class="collapsible-header waves-effect menu-item-about">About</a>
                            <div class="collapsible-body">
                                <ul>
                                    <!-- <li><a href="#">Pastor</a></li> -->
                                    <!-- <li><a href="#">Beliefs</a></li> -->
                                    <!-- <li><a href="#">Members</a></li> -->
                                    <li class="menu-item-contact"><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding"><a href="/contact" class="waves-effect">Events</a></li>
                <li class="no-padding"><a href="/contact" class="waves-effect">Media</a></li>
                <!-- <li class="no-padding"><a href="#" class="waves-effect">Give</a></li> -->
            </ul>
        </div>
    </nav>
</div>
